@page
@model IndexModel
@{
    ViewData["Title"] = "Demo MVC";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
     <p>Test SQL connection. Time: @Model.sqlTime</p>

     <p>Seznam računov</p>

     <ol>
         <li></li>
     </ol>
    
</div>
