@page
@model IndexModel
@{
    ViewData["Title"] = "Demo MVC";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
     <p>Test SQL connection. Time: @Model.sqlTime</p>

     <p>Seznam računov</p>

     <ul style="text-align: left">
         @foreach (var item in Model.invoices)
         {
         <li><a href="/InvoiceEdit?id=@item.Id">@item.Id</a>- @item.ClientName - @item.IssueDate </li>
         }
     </ul>
    
</div>
